.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 17px 70px 89px;
}

.navigation__btn {
  display: none;
}

.navigation__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation-container {
  display: flex;
}

.logo_movies:hover {
  opacity: .7;
  cursor: pointer;
}

.logo_movies {
  margin-right: 44px;
}

.nav-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  transition: opacity .5s ease-in-out;
}

.nav-link:hover {
  cursor: pointer;
  opacity: .6;
}

.nav-link_active {
  text-decoration: underline;
}

.icon-container {
  width: 26px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 4px;
}

.icon-account {
  width: 12px;
  height: 14px;
  background-image: url(../../images/account_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-link {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
}

.icon-link:hover {
  cursor: pointer;
  opacity: .6;
}

.icon-sign {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
}

@media (min-width: 400px) and (max-width: 790px) {
  .navigation {
    padding: 18px 30px 98px;
  }

  .navigation__links {
    display: none;
  }

  .navigation__btn {
    display: flex;
    width: 44px;
    height: 38px;
    justify-content: center;
    justify-items: center;
    transition: opacity .5s ease-in-out;
  }

  .navigation__btn:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .navigation__btn__element {
    width: 28px;
    height: 3px;
    position: relative;
    align-self: center;
    background-color: black;
  }

  .navigation__btn__element:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background-color: black;
  }

  .navigation__btn__element:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: black;
  }

}
