.techs {
  padding: 100px 100px;
  background-color: #F5F5F5;
}

.main-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.techs__signs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 100px;
}

.techs__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 26px 0 0 0;
}

.techs__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90px;
  min-height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  background-color: #E8E8E8;
  border-radius: 10px;
}
