.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 70px 93px;
  background-color: #073042;
}

.header_main {
  background-color: white;
  padding: 17px 70px 89px;
}

.logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../../images/header_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
  border: none;
  transition: opacity .5s ease-in-out;
}

.logo_movies:hover {
  opacity: .7;
  cursor: pointer;
}

.logo_movies {
  margin-right: 44px;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.header__link_btn {
  display: flex;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
  border: none;
  transition: opacity .5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.header__link_btn:hover {
  cursor: pointer;
  opacity: .7;
}

.header__link_text_black {
  color: black;
}

.header__link_text_white {
  transition: opacity .5s ease-in-out;
  color: #FFFFFF;
}

.header__link_text_white:hover {
  cursor: pointer;
  opacity: .7;
}

.header-container {
  display: flex;
}

.nav-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  transition: opacity .5s ease-in-out;
}

.nav-link:hover {
  cursor: pointer;
  opacity: .6;
}

.nav-link_active {
  text-decoration: underline;
}

.icon-container {
  width: 26px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 4px;
}

.icon-account {
  width: 12px;
  height: 14px;
  background-image: url(../../images/account_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-link {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
}

.icon-link:hover {
  cursor: pointer;
  opacity: .6;
}

.icon-sign {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
}


@media (min-width: 400px) and (max-width: 790px) {
  .header {
    padding: 19px 30px 157px;
  }

  .header__links {
    gap: 30px;
  }

  .header__br {
    display: none;
  }
}
