.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 70px 93px;
  /* padding-top: 21px;
  padding-bottom: 93px; */
  background-color: #073042;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../../images/header_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
  border: none;
  transition: opacity .5s ease-in-out;
}

.header__logo:hover {
  opacity: .7;
  cursor: pointer;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.header__link-btn {
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
  border: none;
  transition: opacity .5s ease-in-out;
}

.header__link-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.header__link_text_black {
  color: black;
}

.header__link_text_white {
  transition: opacity .5s ease-in-out;
  color: #FFFFFF;
}

.header__link_text_white:hover {
  cursor: pointer;
  opacity: .7;
}
