.about-me {
  padding: 110px 70px 0;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.about-me__job {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 26px;
}

.about-me__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.about-me__hub {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 99px 0 0 0;
}


.about-me__photo {
  background: url(../../../images/bikmetov.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  max-width: 270px;
  min-height: 327px;
}
