.about-me {
  padding: 113px 70px 0;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.about-me__job {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 26px;
}

.about-me__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.about-me__hub {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 99px 0 0 0;
  text-decoration: none;
  color: black;
  transition: opacity .5s ease-in-out;
}

.about-me__hub:hover {
  opacity: 0.5;
  cursor: pointer;
}

.about-me__photo {
  background: url(../../../images/bikmetov.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  max-width: 270px;
  min-height: 327px;
  border-radius: 10px;
}

@media (min-width: 400px) and (max-width: 911px) {
  .about-me {
    padding: 90px 50px 0;
  }

  .main__title_about-me {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__job {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 18px 0 19px;
  }

  .about-me__photo {
    max-width: 255px;
    min-height: 307px;
  }
  .about-me__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    min-height: 108px;
  }

  .about-me__hub {
    margin: 87px 0 0 0;
  }
}
